@use "../abstracts/mixins";

html,
body {
  background: #0c0b0b;
  cursor: default;
  overflow-x: hidden;
}
section {
  padding: 90px 0;
}
.section-divider {
  width: 100%;
  height: 5px;
  background: linear-gradient(rgba(241, 89, 72, 1), rgba(241, 89, 72, 0.2));
  margin: 2px auto;
}

.section-heading {
  font-size: 43px;
  font-family: "Poppins-Bold";
  font-weight: 700;
  margin-bottom: 55px;
  letter-spacing: 4px;
  position: relative;

  &::after {
    content: "";
    width: 80px;
    height: 3px;
    background: rgb(241, 89, 72);
    border-radius: 2px;
    display: block;
    margin: 12px auto 0;
  }
}

@include mixins.responsive("lg-devices") {
  .section-heading {
    font-size: 40px;
  }
}

@include mixins.responsive("md-devices") {
  section {
    padding: 80px 0;
  }
  .section-heading {
    font-size: 35px;
    margin-bottom: 40px;
  }
}
@include mixins.responsive("sm-devices") {
  section {
    padding: 60px 0;
  }
  .section-heading {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
