@use "/./src/assets/css/abstracts/typography";
@use "/src/assets/css/abstracts/mixins";
.header {
  font-family: "Allura-Regular";
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: transparent;
  transition: all 0.3s ease;
  padding: 15px;
  backdrop-filter: none;

  &.scrolled {
    background: rgb(241, 89, 72);
    backdrop-filter: blur(12px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: all 0.2s ease-in-out;
  }
  .my-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: #fff;
      font-weight: 700;
      font-size: 33px;
    }

    .nav-toggle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      &.hidden {
        display: none;
      }

      .bar {
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        transition: background 0.3s ease;
      }

      &:hover .bar {
        background: rgb(172, 65, 53);
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -360px;
  width: 320px;
  height: calc(100vh - 0px);
  background: rgb(12 11 11 / 95%);
  backdrop-filter: blur(8px);
  z-index: 1000;
  border-radius: 0 60px 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  transition: left 0.3s ease-in-out;
  &.open {
    left: 0;
    box-shadow: 10px 0 40px rgba(241, 89, 72, 0.4);
  }
  .close {
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 28px;
    color: rgb(241 89 72);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    a {
      display: flex;
      align-items: baseline;
      justify-content: center;
      column-gap: 10px;
      font-weight: 600;
      text-decoration: none;
      color: rgb(241 89 72);
      padding: 12px 0;
      border-radius: 40px;
      border: 1px solid rgb(241 89 72);
      transition: color 0.3s ease, transform 0.3s ease;
      &:hover {
        background-color: rgb(241 89 72);
      }
      .icon {
        font-size: 23px;
        color: rgb(241 89 72);
      }

      span {
        font-size: 18px;
        color: rgb(241 89 72);
      }
    }
  }
  nav a:hover .icon,
  nav a:hover span {
    color: rgb(0, 0, 0);
    transition: 0.2s all ease-in;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(20px);
  z-index: 900;
}

@include mixins.responsive("lg-devices") {
  .header {
    .my-navbar {
      .logo {
        font-size: 25px;
      }
      .nav-toggle {
        gap: 3px;
      }
    }
  }
  .sidebar {
    nav {
      row-gap: 22px;
      a {
        column-gap: 8px;
        padding: 10px 0;
        .icon {
          font-size: 22px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@include mixins.responsive("sm-devices") {
  .header {
    padding: 10px;
    &.scrolled {
      padding: 10px;
    }
    .my-navbar {
      .logo {
        font-size: 20px;
      }
      .nav-toggle {
        .bar {
          width: 22px;
        }
      }
    }
  }
  .sidebar {
    width: 280px;
    nav {
      a {
        align-items: center;
        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
