@use "sass:color";
@use "colors";
@use "../abstracts/functions";

@mixin responsive($device) {
  @if $device == "xl-devices" {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $device == "lg-devices" {
    @media (max-width: 990px) {
      @content;
    }
  } @else if $device == "md-devices" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $device == "sm-devices" {
    @media (max-width: 576px) {
      @content;
    }
  }
}
