@font-face {
  font-family: "Allura-Regular";
  src: url("/src/assets/fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: "Oxygen-Regular";
  src: url("/src/assets/fonts/Oxygen-Regular.ttf");
}

@font-face {
  font-family: "SpecialGothicExpandedOne-Regular";
  src: url("/src/assets/fonts/SpecialGothicExpandedOne-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/src/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("/src/assets/fonts/Poppins-Medium.ttf");
}
