@use "/src/assets/css/abstracts/mixins";

.expertise-section {
  background: #0c0b0b;
  color: #fff;

  .expertise-content {
    h3 {
      font-size: 26px;
      color: rgb(241 89 72);
      margin-bottom: 22px;
      font-family: "Poppins-Bold";
    }

    p {
      font-size: 16px;
      line-height: 30px;
      font-family: "Oxygen-Regular";
      color: #ccc;
    }
  }

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    text-align: center;

    .skill {
      display: flex;
      align-items: center;
      gap: 8px;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgb(241, 89, 72, 0.3);
      border-radius: 50px;
      padding: 10px 18px;
      color: rgb(241 89 72);
      font-weight: 600;
      transition: all 0.3s ease;
      box-shadow: 0 0 15px rgb(241, 89, 72, 0.1);
      svg {
        font-size: 22px;
      }

      &:hover {
        transform: translateY(-5px);
        background: rgb(241 89 72);
        color: #000;
        box-shadow: 0 0 25px rgb(241 89 72);
      }
    }
  }
}

@include mixins.responsive("lg-devices") {
  .expertise-section {
    .expertise-content {
      h3 {
        font-size: 24px;
      }
    }
  }
}

@include mixins.responsive("md-devices") {
  .expertise-section {
    .expertise-content {
      h3 {
        font-size: 20px;
      }
    }
    .skills-wrapper {
      gap: 20px;
      padding: 15px;
      .skill {
        padding: 10px 15px;
        font-size: 14px;
      }
    }
  }
}

@include mixins.responsive("sm-devices") {
  .expertise-section {
    .expertise-content {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        line-height: 25px;
      }
    }
    .skills-wrapper {
      padding: 0;
      row-gap: 13px;
      .skill {
        padding: 8px 6px;
        font-size: 12px;
        gap: 4px;
      }
    }
  }
}
