@use "/src/assets/css/abstracts/mixins";

.experience-section {
  position: relative;
  font-family: "Poppins-Medium";
  background: #0c0b0b;
  color: #fff;
  .experience-image {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .timeline {
    position: relative;
    margin-left: 30px;
    border-left: 2px solid rgba(241, 89, 72, 0.6);

    .timeline-item {
      position: relative;
      padding-left: 30px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 40px;
      }

      .timeline-dot {
        position: absolute;
        left: -9px;
        top: 5px;
        width: 15px;
        height: 15px;
        background: rgb(241, 89, 72);
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(241, 89, 72, 0.6);
      }

      .timeline-content {
        h3 {
          font-size: 22px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        h4 {
          font-size: 16px;
          margin: 0 0 3px 0;
          color: rgb(241, 89, 72);
          opacity: 0.9;
        }

        .duration {
          font-size: 14px;
          color: #9e9e9e;
        }

        p {
          margin-top: 10px;
          line-height: 25px;
          font-family: "Poppins-Regular";
          color: #d7d2d2;
          font-size: 16px;
        }
      }
    }
  }
}

@include mixins.responsive("lg-devices") {
  .experience-section {
    .timeline {
      .timeline-item {
        .timeline-content {
          h3 {
            font-size: 20px;
          }
          p {
            line-height: 22px;
          }
        }
      }
    }
  }
}

@include mixins.responsive("md-devices") {
  .experience-section {
    .row {
      flex-direction: column-reverse;
    }
    .timeline {
      .timeline-item {
        .timeline-content {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@include mixins.responsive("sm-devices") {
  .experience-section {
    .timeline {
      .timeline-item {
        padding-left: 20px;
        .timeline-content {
          h3 {
            font-size: 16px;
          }
          h4 {
            font-size: 14px;
          }
          p {
            line-height: 18px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
