@use "/src/assets/css/abstracts/mixins";

.projects-section {
  background: #0c0b0b;
  color: #fff;

  .project-card {
    background: #141313;
    border-radius: 18px;
    transition: all 0.4s ease;
    text-align: center;
    border: 1px solid rgb(241, 89, 72);
    height: 100%;
    font-family: "Oxygen-Regular";
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 30px rgb(241, 89, 72, 0.3);
      border-color: rgb(241, 89, 72);
    }

    .project-image {
      width: 100%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      .project-card:hover & img {
        transform: scale(1.03);
      }
    }

    .project-info {
      padding: 28px 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 20px;
        font-family: "Poppins-Bold";
        color: #fff;
      }

      .category {
        font-size: 14px;
        color: rgb(241, 89, 72);
        margin-bottom: 10px;
        font-weight: 600;
      }

      .description {
        color: #aaa;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      .btn-view {
        align-self: center;
        padding: 10px 25px;
        border-radius: 25px;
        border: 1px solid rgb(241, 89, 72);
        color: rgb(241, 89, 72);
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
          background: rgb(241, 89, 72);
          color: #000;
        }
      }
    }
  }
}

@include mixins.responsive("lg-devices") {
  .projects-section {
    .project-card {
      .project-info {
        h3 {
          font-size: 18px;
        }
        p {
          line-height: 18px;
        }
        .btn-view {
          padding: 10px 15px;
          font-size: 14px;
        }
      }
    }
  }
}
